<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="BTMAU" connectionString="Data Source=DESKTOP-LBE99LH; Initial Catalog = ThanhVien; User ID=sa; Password=sa2012 " />
    <add name="ThanhVienConnectionString" connectionString="Data Source=DESKTOP-LBE99LH;Initial Catalog=ThanhVien;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="ThanhVienConnectionString2" connectionString="Data Source=DESKTOP-LBE99LH;Initial Catalog=ThanhVien;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="ThanhVienConnectionString3" connectionString="Data Source=DESKTOP-LBE99LH;Initial Catalog=ThanhVien;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="ThanhVienConnectionString4" connectionString="Data Source=DESKTOP-LBE99LH;Initial Catalog=ThanhVien;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="ThanhVienConnectionString5" connectionString="Data Source=DESKTOP-LBE99LH;Initial Catalog=ThanhVien;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="ThanhVienConnectionString6" connectionString="Data Source=DESKTOP-LBE99LH;Initial Catalog=ThanhVien;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="ThanhVienConnectionString7" connectionString="Data Source=DESKTOP-LBE99LH;Initial Catalog=ThanhVien;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="ThanhVienConnectionString8" connectionString="Data Source=DESKTOP-LBE99LH;Initial Catalog=ThanhVien;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>